<ion-header>
  <ion-navbar color="objetivo">
    <ion-title>Declaração</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  
  <ion-item>
    <ion-label>Escreva sua Declaração abaixo</ion-label>
  </ion-item>
  
  <ion-textarea padding class="campo-declaracao" placeholder="" [(ngModel)]="declaracao"></ion-textarea>

</ion-content>

<ion-footer>
  <button padding ion-button full color="objetivo" (click)='editarDeclaracao()'>Editar</button>
</ion-footer>
