<ion-header>
    <ion-navbar color="primary">
      <ion-title>Mensagens</ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content>

  <ion-list>
    
    <ion-item navPush="ChatPage" [navParams]="toUser">
      <ion-avatar item-left>
        <img src="assets/imgs/shell.jpg">
      </ion-avatar>
      <h2>Shell</h2>
      <p>ultima mensagem...</p>
    </ion-item>

  </ion-list>

</ion-content>
