<ion-header no-border>
  <ion-navbar color="comunicacao">
    <ion-title>Comunicação Pessoal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="etapa-card" tappable (click)="navigateToPage('PotencialComunicativoPage')">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="left">
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="middle">
              Potencial Comunicativo
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              <ion-icon class="goTo" [name]="iconDeclaracao" item-left></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card class="etapa-card" tappable (click)="navigateToPage('PlacarPage')">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="left">
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="middle">
              Placar
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              <ion-icon class="goTo" [name]="iconDeclaracao" item-left></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

</ion-content>
