<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
<ion-item>
  <ion-label stacked>Nome</ion-label>
  <ion-input [(ngModel)]="nickname"></ion-input>
</ion-item>
<button ion-button full color="primary" (click)="updateNickname()">Modificar Nome</button>
</ion-content>
