<ion-header>
    <ion-navbar color="tempo">
      <ion-title>Gestão de Tempo</ion-title>  
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card class="etapa-card">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
            </div>
          </ion-col>          
          <ion-col>
            <div class="middle">
              Teste das Atividades
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              0%
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card class="etapa-card" tappable (click)="navigateToPage('JogoDosNumerosPage')">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
            </div>
          </ion-col>          
          <ion-col>
            <div class="middle">
              Jogo dos Números
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              0%
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

</ion-content>