page-potencial-comunicativo {

  div {
    text-align: justify;
    text-justify: inter-word;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  ion-label{
    font-size: 0.7em;
  }

}
