<ion-header>
    <ion-navbar color="perfil">
      <ion-title>Roda da Vida</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Gráfico 1
    </ion-card-header>
    <ion-card-content>
      <canvas #radarCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        Gráfico 2
    </ion-card-header>
    <ion-card-content>
      <canvas #polarCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
