<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>G8 TRAINING</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-page">

  <div class="logo-home-container">
      <h2>Bem vindo, {{nickname}}!</h2>
      <img class="logo-home" src="assets/imgs/logog8.png">
  </div>
    
  <ion-list>

    <!--
    <ion-item tappable (click)="metodo()">
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Metodo</h2>
    </ion-item>
    -->
    <ion-item tappable (click)="navigateToPage('ModulosPage')">
      <ion-thumbnail item-start>
        <img src="assets/imgs/modulos.png">
      </ion-thumbnail>
      <h2>Módulos</h2>
    </ion-item>

    <ion-item tappable (click)="navigateToPage('DashMetaPrincipalPage')">
      <ion-thumbnail item-start>
          <img src="assets/imgs/meta.png">
      </ion-thumbnail>
      <h2>Meta Principal</h2>
    </ion-item>

    <!--<ion-item tappable (click)="navigateToPage('DiarioDeBordoPage')">-->
    <ion-item tappable>
      <ion-thumbnail item-start>
        <!--<img src="assets/imgs/diario.png">-->
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Diário de Bordo</h2>
    </ion-item>
    
    <ion-item tappable (click)="navigateToPage('MensagensPage')">
      <ion-thumbnail item-start>
        <img src="assets/imgs/chat.png">
      </ion-thumbnail>
      <h2>Mensagens</h2>
    </ion-item>
    
    <ion-item tappable>
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Ações</h2>
    </ion-item>

    <ion-item tappable (click)="navigateToPage('CalendarPage')">
      <ion-thumbnail item-start>
        <img src="assets/imgs/calendario.png">
      </ion-thumbnail>
      <h2>Calendário</h2>
    </ion-item>

    <!--

    <ion-item tappable (click)="navigateToPage('SlideWalkthroughPage')">
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Test</h2>
    </ion-item>

    -->

    <ion-item tappable (click)="navigateToPage('TestPage')">
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Test2</h2>
    </ion-item>
    
    

  </ion-list>

</ion-content>