<ion-header no-border>
  <ion-navbar color="planejamento">
    <ion-title>Mapa de Talentos</ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-fab bottom right >
    <button ion-fab class="pop-in" color="primary">
      <ion-icon  name="ios-information-outline"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="primary">Links</button>
      <button ion-fab color="primary">Ajuda</button>
    </ion-fab-list>
  </ion-fab>


  <h2>1º Mês</h2>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index; ">
      <ion-item>
        {{item.title}}
        <button ion-button item-right icon-only clear (click)="deleteItem(itemsMes1, i)">
          <ion-icon color="grey" name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>  
  
</ion-content>