<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Meta Principal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="pai">
    <div class="meta">
      <p>{{meta}}</p>
      <h3>{{nome}}</h3>
    </div>
  </div>

</ion-content>