page-modulos {

    ion-card {
        position: relative;
        text-align: center;
        border-radius: 5px;
      }

    .modulo{
        border-radius: 5px;
        
    }

    .cadeado{
        position: absolute;
    }    
    
    .card-title {
        left: 10px;
        text-align: left;
        position: absolute;
        top: 80%;
        font-size: 1.0em;
        width: 95%;
        font-weight: bold;
        color: #fff; 
    }
    
}
