<ion-header no-border>
  <ion-navbar color="perfil">
    <ion-title>Questionário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let a of atitudes">
      <ion-label>{{a.descricao}}</ion-label>
      <ion-checkbox [disabled]="isDisable(a.marcada)" (ionChange)="updateCount(a)" color="perfil"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <button [disabled]="!canSalvar()" full ion-button color="perfil" (click)="salvar()">{{botao}}</button>
</ion-footer>

