page-mapa-tabs {

    $tabs-ios-tab-icon-color: map-get($colors, light);
    $tabs-md-tab-icon-color: map-get($colors, light);

    .tab-button {
        &[aria-selected="true"] {
          color: color($colors, light) !important;
        }
    }
          
}
